body
{
    font-family: helvetica;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #f0f0f0;
}
main
{
    position: fixed;
    top: 120px;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
}
h1
{
    font-size: 2.5em;
    text-align: center;
}

/* Article */

article h2
{
    margin-bottom: 0;
}
article h6
{
    margin-top: 0;
    font-style: italic;
}
.article-entete
{
    margin-left: 1%;
}
.article-main
{
    margin-left: 2%;
}

/* Bouton de retour en haut */

.retour-haut
{
    border: none;
    z-index: 100;
    position: fixed;
    bottom: 2%;
    right: 3%;
}
.retour-haut button
{
    border: none;
    border-radius: 7px;
    box-shadow: 3px 3px 3px #00f8e8;
    height: 50px;
    width: 75px;
    background-color: lightblue;
}
.retour-haut button:hover
{
    box-shadow: 2px 2px 2px #00f8e8;
    height: 45px;
    width: 72px;
}

/* Post */

#premier-post-kangourous
{
    width: 30%;
}

/* Sommaire */

.sommaire h4
{
    margin-bottom: 10px;
    margin-left: 20px;
}
.sommaire ul
{
    margin-top: 0;
}

